<div
  class="d-flex flex-column align-items-center p-3 vh-100 border-end sidebar"
>
  <!-- Logo -->
  <!-- <a href="#" class="d-flex align-items-center mb-4 text-decoration-none logo">
    <img src="" alt="" width="120" />
  </a> -->

  <!-- Navigation Links -->
  <ul class="nav nav-pills flex-column w-100">
    @for (item of navItems; track item) {
    <li class="nav-item mb-3">
      <a href="#" class="nav-link d-flex align-items-center gap-3 text-dark">
        <i [class]="item.icon"></i>
        <span class="d-none d-xl-inline">{{ item.label }}</span>
      </a>
    </li>
    }
  </ul>
  <!-- Profile -->
  <div class="mt-auto">
    <a href="#" class="fit-picture nav-link d-flex align-items-center gap-3 text-dark">
      <img
        src="../../assets/user_profile_picture.jpeg"
        alt="Profile picture"
        class="rounded-circle"
        width="30"
        height="30"
      />
      <span class="d-none d-xl-inline">Profile</span>
    </a>
  </div>
</div>
