<div
  class="d-flex flex-column align-items-center p-3 border-end sidebar"
  [class.collapsed]="!(isExpanded$ | async)"
>
  <!-- Navigation Links -->
  <ul class="nav nav-pills flex-column w-100">
    @for (item of navItems; track item) {
      <li class="nav-item mb-3">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link d-flex align-items-center gap-3 text-dark"
        >
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>

  <!-- Profile -->
  <div class="profile">
    @if (user) {
      <div>
        <a
          (click)="navigateToProfile()"
          class="nav-link d-flex align-items-center gap-3 text-dark"
          style="cursor: pointer"
        >
          <img
            [src]="getProfilePicture()"
            [alt]="user.username + '\'s profile picture'"
            class="profile-img"
          />
          <span>{{ user.username }}</span>
        </a>
      </div>
    } @else {
      <div>
        <a
          routerLink="/login"
          class="nav-link d-flex align-items-center gap-3 text-dark"
        >
          <img
            src="../../assets/user_profile_picture.jpeg"
            alt="Default profile picture"
            class="profile-img"
          />
          <span>Login</span>
        </a>
      </div>
    }
  </div>
</div>
