<div class="d-flex flex-column align-items-center p-3 vh-100 border-end sidebar" [class.collapsed]="!(isExpanded$ | async)">
  <!-- Navigation Links -->
  <ul class="nav nav-pills flex-column w-100">
    @for (item of navItems; track item) {
    <li class="nav-item mb-3">
      <a href="#" class="nav-link d-flex align-items-center gap-3 text-dark">
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
    </li>
    }
  </ul>

  <!-- Profile -->
  <div class="mt-auto">
    <a href="#" class="nav-link d-flex align-items-center gap-3 text-dark">
      <img
        src="../../assets/user_profile_picture.jpeg"
        alt="Profile picture"
        class="rounded-circle"
        width="30"
        height="30"
      />
      <span>Profile</span>
    </a>
  </div>
</div>