.sidebar {
    width: 250px;
  
    @media (max-width: 1200px) {
      width: 80px;
      .nav-link span,
      .logo img {
        display: none;
      }
    }
  
    .logo img {
      height: 40px;
    }
  
    .nav-link {
      font-size: 1rem;
      padding: 0.75rem 1rem;
      transition: background 0.2s;
      border-radius: 8px;
  
      &:hover {
        background-color: #f2f2f2;
      }
  
      i {
        font-size: 1.25rem;
      }
    }
  }
  