@if (loading) {
  <div class="loading">Loading profile...</div>
} @else if (error) {
  <div class="error">{{ error }}</div>
} @else if (profileUser) {
  <div class="profile-container">
    <div class="profile-header">
      <img
        [src]="getProfilePicture()"
        [alt]="profileUser.username + '\'s profile picture'"
        class="profile-pic"
      />
      <div class="info-box">
        <div class="rating">
          <!-- @for (star of [].constructor(rating); track $index) {
            <span>★</span>
          } -->
          <div>
            <h2>{{ profileUser.username }}</h2>
            <h5>Last online: {{ getLastOnlineDate() | date: "longDate" }}</h5>
            <!-- @if (isOwnProfile) {
              <span class="badge bg-primary">Your Profile</span>
            } -->
          </div>
        </div>
      </div>
    </div>

    <div class="details-box">
      <h2>Details</h2>
      <p>
        <strong>Account creation date:</strong>
        {{ getCreatedAtDate() | date: "longDate" }}
      </p>
      <p><strong>Recipes created:</strong> {{ recipesCreated }}</p>
      <p><strong>Recipes saved:</strong> {{ recipesSaved }}</p>
      <p><strong>Recipes liked:</strong> {{ recipesLiked }}</p>
      @if (isOwnProfile) {
        <hr />
        <h2>Change Profile Picture</h2>
        <form>
          <div class="form-group">
            <input
              class="form-control-file"
              type="file"
              (change)="onProfilePictureSelected($event)"
              accept="image/*"
            />
          </div>
        </form>
      }
    </div>

    <div class="recipe-section">
      <div class="recipe-box">
        <h2>Created Recipes</h2>
        @if (createdRecipes!.length > 0) {
          <ul>
            @for (recipe of createdRecipes; track recipe.id) {
              <li>
                <a [routerLink]="['/recipe', recipe.id]">
                  <p>{{ recipe.name }}</p>
                </a>
              </li>
            }
          </ul>
        } @else {
          <p>No recipes created yet.</p>
        }
      </div>
    </div>
  </div>
}
